/* Style for main body container*/
.todoMainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}
.inputContainer{
    width: 80%;
    margin-top: 3%;
}
/* Style for input hidden placeholder text */
::placeholder {
    color: gray;
  }

  /* Style for input Form*/
.inputContainer input{
    padding: 10px;
    width: 35%;
    outline: auto;
    border: solid;
    background: whitesmoke;
    color: #bebed6;
    font-size: x-large;
    border-bottom: 1px solid #00c8ff;
    font-style: oblique;
}

/* Style for button */
.buttons{
    padding: 13px;
    border-radius:29px;
    margin: 1%;
    width: 100px;
    outline: auto;
    border: solid;
    color: blueviolet;
    background-color: black;
}

/* Styles for all to do tasks list container  */
.todoTaskContainer{
    border-radius: 15px;
    width: 68vw;
    height: 60vh;
    margin-top: 5% ;
    overflow-y: scroll;
    display: block;
    box-shadow: 3px 4px 12px 12px rgb(20, 16, 22);
    /* flex-direction: column;
    justify-content: flex-start; */
    
}

/* Styling the task container */
.taskContainer{
    border-radius: 15px;
    color :rgb(3, 0, 5);
    background: rgb(12, 227, 220);
    margin: 2% 3% 0.2% 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* Style for text content displayed in container beside checkbox*/
.leftDiv{
    width: 89vw;
    display: flex;
    align-items:center;
    justify-content: flex-start;
    padding: 10px;
}
.leftDiv span{
    margin-left: 3%;
}

/* Style's for button icons  */

.rightDiv{
    width: 9vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.rightDiv img{
    height: 25px;
}

/* style for adjusting the screen size according to the screen change */
@media only screen and (max-width: 800px) {
    .todoTaskContainer {
    width: 550px;
    }
    }